.btn {
  border-radius: 5px;
  border: 2px solid #a4b8ed;
  background: #f7f8fd;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  color: #a4b8ed;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
}

.btn ~ .btn {
  margin-left: 10px;
}
