.btns {
  margin-bottom: 20px;
}

.btn {
  border-radius: 5px;
  border: 2px solid #A4B8ED;
  background: #F7F8FD;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  color: #A4B8ED;
  font-size: 15px;
}

.btn:hover{
  cursor: pointer;
}

.btn ~ .btn {
  margin-left: 10px;
}